{% extends 'base.html' %}
{% block title %}Detalhes da Vaga{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Vaga: {{ vaga.nome }}</h1>
        <p>Faixa Salarial: {{ vaga.faixa_salarial }}</p>
        <p>Requisitos: {{ vaga.requisitos }}</p>
        <p>Escolaridade Mínima: {{ vaga.escolaridade_minima }}</p>
        <hr>
        <h2>Candidatos</h2>
        <ul>
            {% for candidatura in candidaturas %}
                <li>
                    <p>Email: {{ candidatura.candidato.email }}</p>
                    <p>Pretensão Salarial: {{ candidatura.get_pretensao_salarial_display }}</p>
                    <p>Experiência: {{ candidatura.experiencia }}</p>
                    <p>Última Escolaridade: {{ candidatura.get_ultima_escolaridade_display }}</p>
                    <p><strong>Pontos: {{ candidatura.pontos }}</strong></p>  <!-- Certifique-se de que a pontuação está sendo exibida aqui -->
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'lista_vagas' %}">Voltar</a>
    </div>
{% endblock %}