{% extends "base.html" %}

{% block title %}Cadastrar de vaga{% endblock title %}

{% block content %}
  <div class="container">
    <h1>Cadastro vagas</h1>
    <hr>
      <div class="row">
      <div class="col"></div>
      <div class="col">
        <form action='{% url "cadastrar_vaga" %}' method='post'>
            {% csrf_token %}
            {{ form.nome_vaga }}
            <br>
            {{ form.faixa_salarial }}
            <br>
            {{ form.escolaridade}}
            <br>
            {{ form.requisitos}}
            <input type='hidden' name='empresa' value='{{request.user.id}}'>
            <br>
            <input type="submit" value='Cadastrar' class='btn btn-primary'>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
{% endblock content %}
