<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% block link %}{% endblock %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'lista_vagas' %}">JobMatch</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'lista_vagas' %}">Home</a>
                    </li>
                        &nbsp;&nbsp;
                    {% if request.user.is_authenticated %}
                        <li>
                            <a class="nav-link active" aria-current="page" href="{% url 'relatorio' %}">Relatório</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
	                   {% block navbar %} {% endblock %}
                    </li>
                </ul>
                {% if request.user.is_authenticated %}
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" >Sair</button>
                            </form>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <form method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                <button type="submit" >Login</button>
                            </form>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
</head>

<body>
{% block content %} {% endblock %}
</body>
</html>