{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
          <div class="col"></div>
          <div class="col">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success" role="alert">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
            <form action='#' method='post'>
                <br>
                {% csrf_token %}
                {{ form.email }}
                <br>
                {{ form.password }}
                <br>
                <input type='submit' value='Entrar' class="btn btn-outline-primary">
            </form>
            <br>
            Não tem conta? <a href="{% url "cadastro" %}">Cadastre-se</a>
          </div>
          <div class="col"></div>
        </div>
      </div>
{% endblock content %}
